
*{ /*para toda la pag*/
    margin: 0;
    box-sizing: border-box;
}


:root{ /*creacion de variables */
    --poppins:'Poppins', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
    --pink: hsl(322, 100%, 60%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
    --padding-container: 80px 0px;

}

body{
    font-family: var(--open-sans);
}

.container{ /* contenedor del menu de navegacion */
    width: 90%; /* el contenedor ocupa un width de 90% */
    max-width: 1200px; /* con un maximo del 1200px */
    margin: 0 auto; /* que centre el contenido */
    overflow: hidden; /* que todo lo que salga del contenedor se esconda */
    padding: var(--padding-container); /* que tenga un paddin de la medida de la variable */
}

.hero{ /* contenedor de toda la seccion */
    min-height: 100vh; /*altura porcentual de la ventana */
    position: relative; /* para posicionar la wave de mas abajo */

}

.hero__nav{ /* es el contenedor de navegacion */
    display: flex; /* para que sea un flex container y el contenido se ponga uno al lado del otro */
    justify-content: space-between; /* para que los elementos se peguen a los margenes */
    align-items: center; /* para que se centren verticalmente */
    --padding-container: 60px 0 45px; /* se modifica la variable de padding */
}

.hero__logo{ /* es el contenedor del logo */
    width: 45%;
    max-width: 160px;
}

.hero__huddle{ /* es el contenedor de la imagen del logo */
    width: 100%;
    display: block; /* para quitar el margen de la imagene */
}

.hero__cta{ /* enlace que funciona como boton */
    color: var(--light-red);
    text-decoration: none; /* para queitar subrayado del enlace */
    border: 2px solid; /* se crea un borde */
    padding: 6px 16px; /* separacion del borde a las letras de 6px ariba-abajo y 16px izquierda-derecha */
    border-radius: 25px; /* para redondear las esquinas del borde */
    font-weight: 600; /* para que la fuente sea mas pesada */
    box-shadow: 0 0 1px; /* sombreado 0 en X, 0 en Y y 1px de bleur */
}

.hero__main{
    text-align: center; /* todos los textos centrados */
    color: var(--very-dark-cyan);
}
.hero__title{
    font-family: var(--poppins);
}

.hero__paragraph{
    margin: 16px auto; /* margen de 16px arriba y abajo y auto a los costados para separarlos del titulo y del boton */
    width: 90%;
    line-height: 1.5; /* interlineado del parrafo */
}

.cta{ /* el elemento cta se considera bloque */
    display: inline-block;
    background-color: var(--light-pink); /* fonde de letras rosa */
    color: #fff; /* letras blancas */
    text-decoration: none; /* para quitar el subrrayado */
    padding: 16px 30px; /* padding 16px arriba y abajo y 30px a los costados */
    border-radius: 25px; /* para redondear el fonde rosa */
    margin-top: 20px; /* para darle margen de 20 px arriba */
    margin-bottom: 25px;
}

.hero__picture{
    margin-top: 80px; /* para que la imagen se separe 80px del boton rosa */
}

.hero__img{
    width: 100%;
    max-width: 600px; /* para cuando se hace mas grande el navegador */
    margin: 0 auto; /* para centrarlo horizontalmente */
    display: block; /* para evitar borde de las imagenes */
}

.hero__numbers{
    margin-top: 80px; /* para que los numeros tengan un margen superior de 80px */
    display: flex; /* para que los numeros se pongan uno al lado del otro */
    flex-direction: column; /* para que los numeros esten en columna */
    align-items: center; /* para que esten centrados */
    padding-bottom: 100px; /* para que haya separacion de 100px entre los numeros y el final de la seccion */
}

.hero__item{
    overflow: hidden; /* para que lo que sobresalga se oculte */
    margin-bottom: 30px; /* para que haya mayor espaciado entre los numeros */
}

.hero__number{
    font-size: 60px;
}

.hero__icon{
    display: block; /* para que los iconos se vayan hacia la izquierda */
    
}
